*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    max-width: 430px;
    background-color: #13293d;
    color: #fff;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: 0 0 3px rgb(150, 146, 146);
    display: block;
    margin: auto;
    padding: 2.7rem 6%;
}

h1{
    white-space: pre-line;
    font-size: 2rem;
    font-family: 'Karla', sans-serif;
}

.bold{
    color: #11fc9a;
    font-size: 2rem;
}

header p{
    color: #b1b6a6;
    margin-top: .6rem;
}

.slider{
    width: 50%;
    height: 25px;
    background: #11fc9a;
    outline: none;
    opacity: 0.5;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        width: 50%;
        height: 25px;
        background: #11fc9a;
        outline: none;
        opacity: 0.5;
      
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color: #11fc9a;
      margin-top: -1px;
    }
    

}

#pw-btn{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: .6rem .8rem;
    border-radius: 4px;
    border: none;
    background-color: #11fc9a;
    color: #fdfbfb;
    cursor: pointer;
}

#pw-btn:hover{
    transition: .2s ease-in;
    background-color: #0bb16c;
}

#pw-btn:active{
    border: 2px solid gray;
    background-color: #11fc9a;
}

.hr{
    width: 99%;
    height: 1px;
    border: none;
    background-color: #314a4a;
    display: block;
    margin: auto;
}

#pw-box{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7rem;
    margin: 1.7rem 0;
}

input{
    width: 100%;
    padding: .5rem;
    border-radius: 3px;
    border: none;
    background-color: #072538;
    color: #11fc9a;
    outline: none;
}

@media (max-width: 350px) {
    #pw-box{
        grid-template-columns: 1fr;
    }
}